llama-index-core
llama-index-llms-ollama
llama-index-embeddings-huggingface-api
llama-index-readers-web
llama-hub
requests
pydantic
gradio
jinja2
fastapi
starlette
huggingface_hub
langchain
langchain-community
langchain-ollama
chromadb
pypdf
python-dotenv
